body {
	background-image: url('../images/space_background.jpg');
	width: 100%;
}

h1, h3 {
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
}

.image {
	height: 150px;
	padding: 5px 0px;
	width: 150px;
}

p {
	margin: 0px;
}

button {
	font-family: 'Roboto Slab', serif;
}

/*#obi_wan, #luke_skywalker, #darth_sidious, #darth_maul {*/
.characters {
	background-color: #ffffff;
	border: 3px solid #00c12d;
	cursor: pointer;
	font-family: 'Roboto Slab', serif;
	margin: 10px;
	text-align: center;
}

.result {
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
}

.reset {
	color: #000000;
	display: none;
	margin-top: 10px;
}

.clear {
	background-color: #ffffff;
	color: #000000;
}