body {
	background-image: url('../images/space_background.jpg');
	width: 100%;
}

h1, h3 {
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
}

h1 {
	text-align: center;
}

.image {
	height: 100px;
	padding: 5px 0px;
	width: 100px;
}

p {
	margin: 0px;
}

button {
	font-family: 'Roboto Slab', serif;
}

.characters {
	background-color: #ffffff;
	border: 3px solid #00c12d;
	box-sizing: border-box;
	cursor: pointer;
	font-family: 'Roboto Slab', serif;
	margin: 10px;
	text-align: center;
	width: auto;
}

.result {
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
}

.reset {
	color: #000000;
	display: none;
	margin-top: 10px;
}

.graveyard {
	display: none;
}